<section class="home_banner_area">
  <div class="overlay"></div>
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content row">
        <div class="offset-lg-2 col-lg-8">
          <h3>{{'Fashion for'|translate}}
            <br />{{'Upcoming Winter'|translate}}</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
          <a class="white_bg_btn" href="#">{{'View Collection'|translate}}</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="form-inline float-right mr-5 mt-5">
  <input type="text" placeholder="Search Here" [(ngModel)]="myproducts.productName">
  <i class="fa  fa-search"></i>
</div>



<section class="feature_product_area section_gap">
  <div class="main_box">
    <div class="container-fluid">
      <div class="row">
        <div class="main_title">
          <h2>{{'Featured Products'|translate}}</h2>
        </div>
      </div>
      <div class="row" >
        <div class="col col-sm-8 col-md-3 col-lg-4 " *ngFor="let p of myproducts| filter:myproducts.productName">
          <div class="f_p_item">
            <div class="f_p_img">
              <img class="img-fluid" [src]="createImgPath(p.url)" alt="">
              <div class="p_icon">
                <a class="btn cart px-auto"(click)="addTocart(p)">
                  <i class="lnr lnr-cart"></i>
              </a>
             
              </div>
            </div>
            <a [routerLink]="['/productdetail', p.id]" >
              <h4>{{p.productName}}</h4>
            </a>
            <h5>${{p.price}}</h5>
          </div>
        </div>
       
      </div>

      <div class="row">
        <nav class="cat_page mx-auto" aria-label="Page navigation example">
          <ul class="pagination">
           
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
