<section class="home_banner_area">
  <div class="overlay"></div>
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content row">
        <div class="offset-lg-2 col-lg-8">
          <h3>{{'About US'|translate}}</h3>
          <h5 style="color: white;">{{'We are the best ITI students we worked hard for this application and we wish you like it Our application about online shopping you will find any Product you will need we mainly focus on women products beacuse we are three women like moon'|translate }}
          </h5>
        
        </div>
      </div>
    </div>
  </div>
</section>
<h2 style="text-align: center;" class="mt-3">{{'WHO WE ARE'|translate}}</h2>
<div class="container mt-4" >
    <div class="row">
        <div class="col-sm-9 col-lg-4 ">
          <img src="../assets/img/Developpers/eman.png" width="150px" height="150">
          <p>
            {{'Eman Mohamed Itian'|translate}}<i class="fa fa-heart"></i>  {{'Mobile Application Cross-Patform  SD track'|translate}}
          </p>
          </div >
          <div class="col-sm-9 col-lg-4 mt-8">
              <img src="../assets/img/Developpers/aya.jpg" width="150px" height="150">
              <p>
                {{'Aya AbdelBaset Itian'|translate}} <i class="fa fa-heart"></i> {{'Mobile Application Cross-Patform  SD track'|translate}}
              </p>
          </div>
          <div class="col-sm-9 col-lg-4">
              <img src="../assets/img/Developpers/marina.jpg" width="150px" height="150"> 
              <p>
                {{'Marina George Itian'|translate}} <i class="fa fa-heart"></i> {{'Mobile Application Cross-Patform  SD track'|translate}}
              </p>

          </div>

    </div>

</div>